@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
@*    @*<a asp-page = "Error" class = "btn btn-primary"> <i class="bi bi-alarm-fill"> </i> </a>*@

    <img style="width: 50vw; margin:25px " src="~/images/indexImage.jpg" alt="succes image">
    <h1 style="margin-bottom:15px">Welcome stranger</h1>
   <h3>
       DuelSys inc. offers you a platform where you can compete with other competitors and show your
       skills to everyone. Do you think you are more than others? Or do you just want to explore your
       limits or have a healthy lifestyle? In either case, you're in the right place. What are you
       waiting for. Register now and <p ><a asp-page="/SignUp">join</a> this unique experience.
   </h3>
    </div>
